<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="/javascripts/index.js"></script>
</head>

<body>
  <h1>
    WeChat
  </h1>
  <textarea id="msgBody" cols="80" rows="20" placeholder="Message Body" maxlength="500" class="jqCountString"></textarea>
  <input type="button" id="send" value="Send">
</body>

</html>